footer {
    background: #333;
    color: #fff;
    padding: 2vw;
}

footer #footer_top {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
    grid-gap: 3vw;
}

footer #footer_top section{
    text-align: center;
    padding: 2vw;
}

footer #footer_top section ul li{
    text-align: left;
    margin: 1vw 0;
}

footer .underline {
    text-decoration: underline;
}

footer #footer_top h2{
    margin: 1vw 3vw;
}

footer #footer_top .button{
    margin-top: 2vw;;
}

footer #footer_top figure{
    display: flex;
    align-items: center;
}

footer #footer_top figure figcaption{
    margin-left: 2vw;
}