footer {
    color: #fff;
}

footer #footer_top {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 3vw;
    background: #333;
    padding: 2vw;
}

footer #footer_top section{
    padding: 2vw;
    margin: 0 auto;
}

footer #footer_top section hr {
    width: 80%;
    margin: 1vw 0;
}

footer #footer_top section h2 {
    text-align: center;
}

footer #footer_top section ul li{
    margin: 1vw 0;
}

footer .underline {
    text-decoration: underline;
}

footer .cart {
    margin: 0 1vw;
}

footer #footer_top h2{
    margin: 1vw 3vw;
}

footer #footer_top .button{
    margin-top: 2vw;;
}

footer #footer_top figure{
    display: flex;
    align-items: center;
}

footer #footer_top figure img {
    width: 24px;
}

footer #footer_top figure figcaption{
    margin-left: 2vw;
}

footer #footer_bottom {
    background-color: #000;
    text-align: center;
    padding: 2vw;
    font-size: 120%;
}