main #about .about {
    display: grid;
    grid-template-columns: 30vw 1fr;
}

main #about picture {
    margin: 1vw 0;
}

main #about picture img{
    width: 100%;
}

main #about #about_me {
    margin: 2vw 1vw;
    border: none;
}

main #about #about_me h2 {
    color: #fff;
}

main #about a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2vw 0 0;
}

main #about #skills section {
    background: #fff;
    color: #000;
    transition:1s;
    transform-style: preserve-3d;
    -webkit-transition:1s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition:1s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
}

main #about #skills section:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    backface-visibility: hidden;
}

main #about #skills section .front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

main #about #skills section .front picture {
    margin: 0;
    width: 90%;
}

main #about #skills section .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1vw;
    padding: 1vw;
    background: #fff;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    -moz-backface-visibility: hidden;
    -moz-transform: rotateY(180deg);
}

main #about #skills p {
    color: #000;
    margin: 0;
}

main #about #skills span {
    position: absolute;
    right: 5%;
    transform: translateX(-50%);
    margin-top: 0;
    bottom: 5%;
    cursor: pointer;
}