main {
    padding: 0 5vw;
    background: url(../../images/bg320.jpg) repeat-y;
    background-size: 100%;
    background-attachment: fixed;
}

main article {
    padding: 2vw 1vw;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 2vw;
}

main h3 {
    font-size: 150%;
}

main .title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1vw;
    text-indent: 0px;
}

main p {
    color: #fff;
    text-indent: 3vw;
    margin:1vw 0;
}

main article div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
}

main article section {
    border: .1vw solid #fff;
    padding: 1vw;
}

main article section h4 {
    text-align: center;
}






footer {
    height: 500px;
    background: #f00;
}