main #contacts section {
    border: none;
}

main #contacts section .contact {
    display: inline-block;
    text-align: center;
    text-indent: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

main #contacts figcaption p{
    user-select: text;
}

main #contacts #desctop_contact figure {
    text-align: center;
}

main #contacts #mobile_contact {
    display: none;
}

