main #about .about {
    display: grid;
    grid-template-columns: 30vw 1fr;
    align-items: center;
}

main #about picture {
    margin: 1vw 0;
    width: 90%;
}

main #about picture img{
    width: 100%;
}

main #about #about_me {
    margin: 2vw 1vw;
    border: none;
}

main #about #about_me h2 {
    color: #fff;
}

main #about a {
    position: relative;
    left: 50%;
    margin: 2vw 0 0;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

main #about #skills section {
    background: #fff;
    display: grid;
    align-items: center;
    height: 100%;
    border: none;
    color: #000;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}

main #about #skills input:checked+label section{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

main #about #skills section .front,
main #about #skills section .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}



main #about #skills section .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1vw;
    padding: 1vw;
    background: #fff;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

main #about #skills section .front::after,
main #about #skills section .back::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    border-radius: 1vw;
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

main #about #skills section .front:hover::after,
main #about #skills section .back:hover::after {
    opacity: 1;
    -moz-transform: opacity 1s ease;
    -webkit-transform: opacity 1s ease;
    transition: opacity 1s ease;
}

main #about #skills p {
    color: #000;
    margin: 0;
    text-indent: 0;
    font-size: 90%;
}

main #about #skills span {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    font-weight: bold;
    color: #fff;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

main #about #skills section .front:hover span,
main #about #skills section .back:hover span{
    opacity: 1;
    -webkit-transform: opacity 2s ease-in-out;
    -moz-transform: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}