.modal {
display: flex;
justify-content: center;
align-items: center;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,.5);
z-index:999;
transition:opacity 511ms ease-in;
opacity:0;
pointer-events:none;
margin-bottom: 0;
}
 
.modal:target,
.modal:target .text,
.modal:target a[href="#close"]
{
opacity:1;
pointer-events:auto;
transition: opacity 1s ease-in;
}

.modal .modal__modal{
position: relative;
}

.modal .text{
width:80vw;
max-height: 80vh;
overflow: auto;
background:#fff;
-webkit-animation:minimise 511ms linear;
opacity: 0;
padding:2vw;
border-radius:7px;
box-shadow:0 3px 9px #000;
text-shadow:0 1px 0 #fff;
}

.modal picture {
    width:80vw;
    max-height: 80vh;
    overflow: auto;
}

.modal .text::-webkit-scrollbar,
.modal picture::-webkit-scrollbar {
  width: 0;
}



.modal a[href="#close"]{
    position:absolute;
    right:0;
    top:0;
    color:transparent;
    opacity: 0;
}

.modal a[href="#close"]:after{
    content:'X';
    display:block;
    position:absolute;
    right:-9px;
    top:-9px;
    width:19px;
    padding:1px;
    text-decoration:none;
    text-shadow:none;
    text-align:center;
    font-weight:bold;
    background:#000;
    color:#fff;
    border:3px solid #fff;
    border-radius:19px;
    box-shadow:0 1px 3px #000;
}
.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after{
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}

.modal section{
    padding: 0 !important;
}

.modal h3,.modal h2 {
    letter-spacing: normal;
    color: #000;
}

.modal p{
    color:#000;
    text-indent:2vw;
}

.modal ul li {
    color: #000;
    padding-left: 2vw;
}