main #main_content .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 15px 0;
}

main .intro_product figcaption {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

main .intro_product figcaption p a{
    color: #747acc;
    font-size: 90%;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: 100%;
}

main .intro_product picture {
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    display: block;
}

main .intro_product picture img {
    width: 100%;
}

main .intro_product figcaption p a:hover,
main .intro_product picture:hover ~ figcaption p a{
    color: #242eb7;
}

main .intro_product figcaption .title{
    min-height: 42px;
    max-width: 100%;
    position: relative;
}

main .intro_product figcaption .price{
    color: #d51616;
    font-weight: bold;
    margin: 5px 0;
}

main .intro_product figcaption .card{
   background: url(../../images/cart.jpg) no-repeat;
   display: block;
   height: 27px;
   margin: 0 auto;
   width: 106px;
}

main .intro_product figcaption .card:hover {
   background: url(../../images/cart_active.jpg) no-repeat;
}

@media(max-width: 768px){
    main #main_content .product {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 480px){
    main #main_content .product {
        grid-template-columns: 1fr 1fr;
    }
}
