header picture{
    top: 0;
}

header .picture {
    position: relative;
}
 
header .picture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);  
    z-index: 1;
}

header img{
    width: 100%;
}

header #text {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header #text h2{
    line-height: 7vw;
}

header #text h1{
    
    line-height: 5vw;
    
}

.button{
    padding: 2vw 4vw;
    background-color: #314ae4;
    border-radius: 2vw;
    margin-top: 10vw;
    -webkit-transition: color .5s ease-in-out;
    -moz--transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

header .arrow {
    position: absolute;
    z-index: 9;
    text-align: center;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
}
.arrow span {
    display: block;
    width: 3vw;
    height: 3vw;
    border-bottom: .5vw solid #337AB7;
    border-right: .5vw solid #337AB7;
    transform: rotate(45deg);
    animation: arrow 2s infinite;
    margin: -1.5vw;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-2vw,-2vw);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(2vw,2vw);
    }
}