aside {
   
   
   /*float: left;*/
   margin-bottom: 50px;
   /*width:240px;*/
}

main header {
    background: none;
    height: auto;
}

.section{
   background: #51bdf0;
   border-radius: 0 8px 8px 0;
   color: #fff;
   padding: 10px;
   text-align: center;
   width: 200px;
   
}

.section h3{
   font-style: italic;
}

aside nav {
    padding: 5px 8px 5px 5px;
   background-color: #f1fae9;
   border: 1px solid #51bdf0;
   border-radius:0 8px 8px 0;
}

aside nav p {
    border-bottom: 1px dashed #51bdf0;
}

aside nav p:last-child {
    border-bottom: none;
}

aside nav p a {
   color: #161514;
   display: inline-block;
   font-size: 90%;
   font-weight: bold;
   margin: 0 0 5px 5px;
}

aside nav p a:hover{
   color: #05aefe;
} 

@media(max-width: 640px){
    aside nav p a {
        font-size: 110%;
    }
}    