footer {
   position: relative;
   height: 123px;
   background-color: #f2f5fa;
}

footer #pm .img_cart picture {
    cursor: pointer;
}

footer #pm {
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
}

footer #copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    position: relative;
    background: #f00;
    color: #fff;
}

footer  #copy picture{
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

footer #background {
    height: inherit;
    background: url(../images/footer.png) no-repeat 2% bottom;
    position: absolute;
    top: 0;
    width: 100%;
}

