#color_size {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#color_size .color_radio,
#color_size .size_radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 5vw;
    margin: 1vw 0 5vw;
}



.color{
    display: block;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    cursor: pointer;
}

.black{
    background: #000;
}

.red{
    background: #f44336;
}

.yelow{
    background: #ffeb3b;
}

.green{
    background: #4caf50;
}

#color_size .color_variant label::after {
    content:"";
    display: inline-block;
    height: 1vw;
    width: .5vw;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
    position: absolute;
    left: .7vw;
    top: .2vw;
}

#color_size .color_variant input:checked + label {
    background: #fff;
    transition: all 2s ease-out;
}

#color_size .color_variant input + label::after {
    content: none;
    position: relative;
}

#color_size .color_variant input:checked + label::after {
    content: "";
}

#color_size p {
    color: #000;
    font-weight: 700;
}

#color_size .price {
    color: #cc3333;
    font-size: 1.6vw;
}

#color_size .old_price {
    color: #999999;
    font-size: 1vw;
    text-decoration: line-through;
    margin-left: 1vw;
}

#color_size input[type='submit'] {
    float: right;
    margin-right: 3vw;
    color: #fff;
    background: #3853d8;
    border-radius: 1vw;
    border: none;
    width: 9vw;
    height: 2.5vw;
    font-size: 1vw;
    transition: all 0.5s ease;
    outline: none;
}

#color_size input[type='submit']:hover {
    transition: all 0.5s ease;
    font-size: 1.1vw;
    opacity: 0.8;
}

#color_size .size_radio label {
    font-weight: 700;
}

#color_size .size_radio input:checked + label,
#color_size .size_radio label:hover{
    color: #3853d8;
}


