#product_layout {
    background: #fff;
    margin: -6vw 3vw 0;
    border: 1px solid #d3d3d3;
    padding: 10vw 6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#product_layout p {
    color: #3853d8;
    letter-spacing: 0.25vw;
}

#product_layout h2 {
    color: #232323;
    font-size: 2.4vw;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

.stars {
    margin: 2.5vw 0;
}

.fa-star{
    color: #f2b309;
    font-size: 1.4vw;
    cursor: pointer;
    font-display: swap;
}

.nogold{
    color: #cccccc;
}

.rev{
    margin-left: 1vw;
    color: #999999;
    cursor: pointer;
}

.border{
    border-right: 1px solid #999999;
    margin: 0 .6vw;
}

#product_layout .bottom {
    color: #cccccc;
    margin-top: 5vw; 
}

#product_layout .bottom i{
    margin-right: 1vw;
}

