@media (max-width: 480px) {
    main article div {
        grid-template-columns: repeat(auto-fit,minmax(30vw,1fr));
    }
}

@media (max-width: 750px) {
    .portfolio_work section .description{
        display: none;
    }
    .portfolio_work section {
        display: block;
    }
    .portfolio_work section img {
        width: 100%;
    }
    .portfolio_work .work_1 {
    grid-template-columns: repeat(auto-fit,minmax(129px,1fr));
}
}

@media (max-width: 610px) {
    .portfolio_work section{
        grid-template-columns: repeat(auto-fit,minmax(258px,1fr));
    }
}

@media (max-width: 768px) {
    main .mobile_contact {
        display: flex;
    }
    main .desctop_contact {
        display: none;
    }
}