header{
   background: url(../../images/header.jpg) no-repeat;
   height: 148px;
}

header div{
   font-size: 84%;
   padding-top: 70px;
   text-align: center;
   width: 230px;
}

header div p{
   margin: 0;
}

header .red{
   color: #ef2926;
   font-size: 125%;
   font-weight: bold;
   margin-bottom: 15px;
   margin-left: -20px;
   cursor: pointer;
}

header .blue{
   color: #0480ba;
}

header .card{
   float: right;
   margin-top: -121px;
   padding: 0;
   position: relative;
   width: 200px;
}

header .card .card_title{
   text-align: center;
   font-size: 115%;
   
}

header .card .blue{
   font-weight: bold;
   text-decoration: underline;
}

header .card p{
   color: #0018ff;
   text-align: left;
   margin: 8px 0;
}

header .card span{
   color: #fbfbfd;
}

header .card a{
   background: #559e1a;
   border: 1px solid #559e1a;
   color: #fff;
   padding: 3px 10px;
   text-decoration: none;
   display: inline-block;
}

header .card a:hover{
   background: #9cef5a;
}

#topmenu{
   background: linear-gradient(#81d232 0%, #5cc508 7.5%, #5cc508 92.5%, #81d232 100%);
   border: 1px solid #60be15;
   height: 41px;
}

#topmenu ul{
   list-style: none;
   margin: 0;
   padding:0;
}

#topmenu ul li{
   float: left;
}

#topmenu a{
   color: #fff;
   text-decoration: none;
   display: block;
   padding: 10px 35px;
}

#topmenu a:hover{
   color: #25aded;
   text-decoration: underline;
}

#search{
   float: right;
   margin-right: 30px;
}

#search form{
   margin: 10px 4px;
}

#search input{
   background: url(../../images/search_left.jpg) no-repeat;
   background-color: #c1f0a1;
   border: none;
   color: #fff;
   font-size: 110%;
   outline: none;
   font-style: italic;
   text-align: right;
   padding: 0 15px;
   height: 22px;
   border-radius: 15px;
   width: 175px;
}